<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Intentionally v2, as v3 doesn't yet support list which is used by Update-Environment.ps1 -->
    <add key="vss-package-management" value="https://www.myget.org/F/vss-package-management/api/v2" />
    <!-- <add key="YourFeed" value="https://fabrikam.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/YourFeed/nuget/index.json" /> -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>